{% load static %}

<footer>
    <div class="footer-container">
      <div class="footer-column">
        <h3>RivanCyber Training Institute</h3>
        <p>Rivan Cyber Institute is a Network Engineering Bootcamp that caters not just to people around the IT industry but also career shifters.</p>
        <div class="footer-socials">
          <a href="https://www.facebook.com/RivanInstitute" target="_blank"><img src="{% static 'images/social_logo/facebook_logo.png' %}" alt="Facebook"></a>
          <a href="https://www.instagram.com/rivancyberinstitute/?hl=en" target="_blank"><img src="{% static 'images/social_logo/instagram_logo.png' %}" alt="Instagram"></a>
        </div>
      </div>
  
      <div class="footer-column2">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">SERVICE</a></li>
          <li><a href="#">ABOUT</a></li>
        </ul>
      </div>
  
      <div class="footer-column3">
        <h3>Get In Touch</h3>
        <address>
          Rivan Building, 18d Mola, Makati, 1200 Metro Manila<br>
          Email: <a href="#">rivaninstitute@gmail.com</a><br>
          Phone: <a href="#">+63 9778474888</a><br>
          Hours: Mon-Fri 9:00AM - 5:00PM
        </address>
      </div>

    
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 All Rights Reserved.</p>
    </div>
  </footer>