{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen"  href="{% static 'styles/nav_right.css' %}">


</head>
<body>
    <div class="sidebar">
        <ul>
            <li>
                <a href="{% url 'home' %}">
                <i class="icon">🏠</i> 
                <span>Discussion</span>
                </a>
            </li>
            <li>
                <a href="{% url 'notification' %}">
                <i class="icon">📚</i> 
                <span>Courses</span>
                </a>
            </li>
            <li>
                <i class="icon">🔔</i> 
                <span>Notifications</span>
            </li>
        </ul>
    </div>
</body>
</html>
